<h3>Edit Book</h3>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <!-- anchor tag: link things vs buttons: interact with other objects -->
    <a href="/books/<%= book.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>