<h2 class="page-header">Recently Added</h2>

<div class="book-covers">
    <% Array.from(books).forEach(book => { %>
        <div class="cover">
        <a href="/books/<%= book.id %>">
            <img src='<%= book.coverImagePath %>'>
        </a>
        </div>
    <% }) %>
</div>